# shortcuts

실행 control + enter

variable. 하고 tab 누르면 사용할 수 있는 기능 (실행을 하고 나서)

variable.count 하고 shift + tab 누르면 count의 기능 설명 (실행을 하고 나서)

In [13]:
list_a = [ 'a', [ [ 'Life', 'is', 'too', 'short' ], 2 ] ]
print(list_a[1][0][2])

too

In [14]:
season = ['봄', '여름', '가을', '겨울']
color = ['RED', 'GREEN', 'BLUE']

join = season[2] + " + " + color[1]
print(join)

가을 + GREEN

In [15]:
person = ['ggoreb', 20, ['서울', '관악구', '신림동'],['대전', '서구', '둔산동']]
data = "[" + person[0] + "]" + person[2][2] + "/" + person[3][2]
print(data)

[ggoreb]신림동/둔산동

In [16]:
list_b = ['a', 'b', 'c']
list_b.extend(['x', 'z'])
print(list_b)

['a', 'b', 'c', 'x', 'z']

In [17]:
list_c = ['p', 'y', 't', 'h', 'o', 'n']
# 오름차순 정렬 코드 작성
list_c.sort()
print(list_c)

['h', 'n', 'o', 'p', 't', 'y']

In [34]:
list_c = ['p', 'y', 't', 'h', 'o', 'n']
list_c.reverse()
print(list_c)

['n', 'o', 'h', 't', 'y', 'p']

In [18]:
list_c.sort(reverse=True)
print(list_c)

['y', 't', 'p', 'o', 'n', 'h']

In [19]:
list_d = ['서울', '부산', '광주', '대전', '부산','대전', '대전', '서울', '부산', '대전']
count = list_d.count('대전')
print(count)

4

In [20]:
list_e = ['원피스', '나루토', '열혈강호', '용비불패', '드래곤볼']
print(list_e)

['원피스', '나루토', '열혈강호', '용비불패', '드래곤볼']

In [21]:
list_f = ['열혈강호', '용비불패']
list_f.insert(1, '고수')
print(list_f)

['열혈강호', '고수', '용비불패']

In [22]:
list_g = ['원피스', '나루토', '열혈강호', '용비불패', '드래곤볼']
list_g[1] = '보루토'
print(list_g)

['원피스', '보루토', '열혈강호', '용비불패', '드래곤볼']

In [23]:
rm_list = ['나루토', '용비불패']
a_list = ['원피스', '나루토', '열혈강호', '용비불패', '드래곤볼']

for word in rm_list:
    a_list.remove(word)
print(a_list)

['원피스', '열혈강호', '드래곤볼']

In [24]:
tuple_only_3 = (3, )
print(tuple_only_3)

(3,)

In [25]:
tuple_test = ('a', 'b', 'c')
tuple_test += ('가', )
print(tuple_test)

('a', 'b', 'c', '가')

In [26]:
dic = {'a' : 1, 'b': 2}
dic['c'] = 4
print(type(dic))
print(dic)
del dic['a']
print(dic)

<class 'dict'>
{'a': 1, 'b': 2, 'c': 4}
{'b': 2, 'c': 4}

In [27]:
number = {'서울': '02', '대전': '042', '부산': '051', '광주': '062', '제주': '064'}
print(number)

{'서울': '02', '대전': '042', '부산': '051', '광주': '062', '제주': '064'}

In [28]:
key_list = list(number.keys())
print(key_list)

['서울', '대전', '부산', '광주', '제주']

In [29]:
value_list = list(number.values())
print(value_list)

['02', '042', '051', '062', '064']

In [30]:
t_list = list(number.items())
print(t_list)

[('서울', '02'), ('대전', '042'), ('부산', '051'), ('광주', '062'), ('제주', '064')]

In [31]:
seoul_value = t_list[0][1]
print(seoul_value)

02

In [32]:
busan = number['부산']
print(busan)

051

In [33]:
is_exist = '천안' in number
print(is_exist)

False